/* p {
  font-family: Lato;
}
#name{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 22px;
}
#email{
  margin-bottom: 20px;
  margin-left: 22px;
}
#submit{
  padding: 5px 5px 5px 5px;
  margin-top: 20px;
  margin-left: 50px;
}
input{
  border-radius: 5px;
  
} */