<form>

	<label for="name" class="form-label">Full Name</label>
	<input class="form-control form-control-sm" type="text" name="name" id="name" placeholder="Enter Name">

	<label for="email" class="form-label">Email</label>
	<input type="text" class="form-control" name="email" id="email"email placeholder="Enter Email">

	<label for="pwd" class="form-label">Password</label>
	<input type="password" class="form-control" name="pwd" id="pwd" placeholder="Enter Password">

	<br>
	<input type="submit" value="Register" id="submit" class="btn btn-success">

{{hello()}}


</form>